.land-heading{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

 .land-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 52px;
 }

 .Land-image{
    margin-right: 22px;
     margin-bottom: 52px;  
 }
